<h1><%= @article.title %><%= link_to " âœï¸", edit_article_path(@article)%><%= link_to " ðŸ—‘ï¸", article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></h1>
<p class="article"><%= @article.content %></p>
